body {
        cursor: url('img/target.png');
        background: #ffffff url("img/fon3.jpg") repeat top right;
		font-family: 'PT Mono', monospace;
		overflow-x: hidden;
    }

    #stat {
        background: #ffffff url("img/fon4.jpg");
        margin: 0 auto;
        border: 5px solid #f3ca3a;
        width: 44%;
        padding: 2% 3.5%;
        margin-bottom: 20px;
        margin-top: 20px;
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        text-align: center;
    }

    #stat span{
        text-decoration: none;
	box-shadow: 0 0 0 0.1em rgba(255, 255, 255, 0.4);
        font-size: 100%;
	font-family: 'PT Mono', monospace;
        background: #f3ca3a;
        padding: 1% 1.6%;
        color: #000;
        -webkit-border-radius: .2em;
        -moz-border-radius: .2em;
        border-radius: .2em;
        
    }
	#stat a {
	margin-left:-3%;
        text-decoration: none;
        font-size: 100%;
	font-family: 'PT Mono', monospace;
        background: #f3ca3a;
        padding: 0.9% 11.4%;
	box-shadow: 0 0 0 0.1em rgba(255, 255, 255, 0.4);
        color: #000;
        -webkit-border-radius: .2em;
        -moz-border-radius: .2em;
        border-radius: .2em;
    }
   
   #stat a:hover {
	background: #fff;
	box-shadow: 0 15px 20px rgba(255,255,255,.4);
	color:#0f3402;
	}


    #note {
        font-family: 'PT Mono', monospace;
		margin: 0 auto;
        color: #fff;
        margin-bottom: 2%;
        width: 60%;
        text-align: center;
        font-size: 5 em;
        
    }

    #container {
        background: #ffffff url("img/fon4.jpg");
        margin: 0 auto;
        border: 5px solid #f3ca3a;
        width: 44%;
        height: 260px;
        padding: 4% 3.5%;
        cursor: url("img/target.png"), pointer;
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
    }

     	#message {
	background: #667f23;
   	box-shadow: 0 0 0 100em rgba(255, 255, 255, 0.6);
	margin: -18% -5%;
        border: 5px solid #f3ca3a;
        width: 60%;
        height: 70%;
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        position: fixed;
        opacity: 1;
        filter:alpha(opacity=100);
		line-height: 1.5; 
        text-align: center;
		font-family: 'PT Mono', monospace;
        font-size:120%;
        color: #fff;
        display: none;
    }


    .character {
        border: 0 solid #f3f3f3;
        width: 130px;
        height: 72px;
        position: absolute;
        display: none;
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        cursor: url('img/target.png'), pointer;
    }
    .character:hover {
        opacity: 1;
        filter:alpha(opacity=1);
    }
	
    .enemy1 {
        background: url("img/t.png");
    }
    .enemy2 {
        background: url("img/с.png");
    }
    .enemy3 {
        background: url("img/c.png");
    }

    .animals {

        background: url("img/r.png");
    }
	
#generate {
text-decoration: none;
  outline: none;
  width: 40%;
  height: 30%;
  border: 0;
  border-radius: 5px;
  font-family: 'PT Mono', monospace;
  font-size: 1em;

  text-align: center;
  letter-spacing: 1px;
  font-weight: 70%;
  color: #000;
  background: white;

  transition: .3s;
}

#generate:hover {
  background: #f3ca3a;
  box-shadow: 0 30 20 rgba(255,255,255,.4);
  color: white;
  transform: translateY(-7px);
}
 

#Pic1{
width: 100%; 
   margin: auto 2%;

  }

#Pic2{
 width: 110%;
   margin: auto -4%;
  }  

 #star{
	 width: 120%;
	   margin: auto -9%;
  }
